body {
    margin: 0;
    background-color: black;
    color: white;
}

.center-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

a {
    filter: invert();
    text-decoration: none;
    padding-right: 5px;
    opacity: 0.1;
    transition: 0.2s;
    cursor: pointer;
    
}

a:hover {
    opacity: 1;
}